@media screen and (max-width: 600px) {

    /* common style */
    main {
        padding: 0 10px;
    }

    .primary-btn {
        width: 300px;
    }

    /* End common style */

    /* Header style */
    .header {
        margin-top: 20px;
    }

    .header-section {
        flex-direction: column;
        align-items: center;
    }

    .travel-container {
        justify-content: center;
    }

    .travel-container,
    .travel-menu-container {
        width: 100%;
    }

    .travel-menu-container {
        gap: 0;
        flex-wrap: wrap;
        margin-top: 15px;
        line-height: 10px;
    }

    /* End Header Style */

    /* Banner section */
    .banner-section {
        margin: 20px 0;
        min-height: 650px;
    }

    .banner-container {
        flex-direction: column;
    }

    .banner-option {
        flex-direction: column;
        padding: 10px;
    }

    .banner-selection {
        width: 300px;
    }

    .Banner-title {
        font-size: 25px;
        margin-top: 5px;
    }

    .banner-description {
        font-size: 14px;
        width: 350px;
    }

    /* END of Banner section */

    /* <!-- Our Popular Tour Section --> */
    .tour-cotainer {
        flex-direction: column;
    }

    .tour-content,
    .tour-img {
        width: 100%;
    }

    .tour-img {
        margin-top: 20px;
    }

    .tour-btn {
        width: 200px;
        margin: 0 auto;

    }

    /* <!-- End of Our Popular Tour Section --> */

    /* Choose your Destination section */
    .grid-cotainer {
        display: flex;
        flex-direction: column;
    }

    .destination h1 {
        font-size: 30px;
    }

    /* End of Choose your Destination section */

    /* <!-- Why Choose Us section --> */
    .choose-content {
        flex-direction: column;
    }

    .hotel,
    .map,
    .price {
        width: 400px;
    }

    .choose-text-descripton {
        width: 300px;
    }

    .choose h1 {
        font-size: 30px;
    }

    /* <!-- End of Why Choose Us section --> */

    /* <!-- Deals and Discounts. Optional section --> */
    .deals-content-01 {
        padding: 50px;
        justify-content: center;
    }

    .deals-box {
        padding: 10px;
    }

    .deals-items {
        flex-wrap: wrap;
    }

    .deals-description {
        width: 260px;
    }
    /* <!-- End of Deals and Discounts. Optional section --> */
}